<template>
    <component
        :is="tag()"
        :class="{'item item-image': true, 'item-image--mobile': hasMobileImage }"
        :target="target"
        :href="hasLink ? item.url : null">
        <picture>
            <source
                v-if="hasMobileImage"
                :srcset="item.imagem_mobile"
                class="image"
                media="(max-width: 767px)">
            <b-img
                :src="item.imagem"
                class="image" />
        </picture>
    </component>
</template>

<script>
import { BImg } from 'bootstrap-vue'

export default {
    props: {
        item: {
            type: Object,
            required: true,
        },
    },

    components: {
        BImg,
    },

    computed: {
        type() {
            return 'image'
        },

        hasMobileImage() {
            return 'imagem_mobile' in this.item && this.item.imagem_mobile !== '' && this.item.imagem_mobile !== null
        },

        hasLink() {
            return 'url' in this.item && this.item.url !== '' && this.item.url !== null
        },

        target() {
            return this.hasLink && this.item.nova_aba === '1' ? '_blank' : ''
        },
    },

    methods: {
        tag() {
            return this.hasLink ? 'a' : 'div'
        },
    },
}
</script>
