<template>
    <div class="item item-video item-container">
        <div class="video-bg cover">
            <youtube
                class="video-fg"
                ref="VideoPlayer"
                :video-id="videoId"
                :mute="mute"
                :player-width="playerWidth"
                :player-height="playerHeight"
                :player-vars="videoPlayerVars"
                @ready="ready"
                @playing="$emit('playing')"
                @ended="$emit('ended')"
                @paused="$emit('paused')"></youtube>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import { getIdFromURL } from 'vue-youtube-embed'
    import VueYouTubeEmbed from 'vue-youtube-embed'

    Vue.use(VueYouTubeEmbed)

    export default {
        props: {
            item: {
                type: Object,
                required: true
            },

            mute: {
                type: Boolean,
                default: true
            },

            autoplay: {
                type: Boolean,
                default: false
            },

            playerWidth: {
                type: [String, Number],
                default: 1280
            },

            playerHeight: {
                type: [String, Number],
                default: 750
            },

            playerVars: {
                type: Object,
                default: () => {
                    return {}
                },
            }
        },

        computed: {
            type() {
                return 'video'
            },

            videoId() {
                return 'youtube_url' in this.item ? getIdFromURL(this.item.youtube_url) : null
            },

            videoPlayerVars() {
                return Object.assign({}, this.defaultPlayerVars, this.playerVars)
            }
        },

        data() {
            return {
                player: null,
                isPlaying: false,
                defaultPlayerVars : {
                    modestbranding: 0,
                    autoplay: 0,
                    controls: 0,
                    showinfo: 0,
                    branding: 0,
                    start: 0,
                    rel: 0,
                    mute: 1,
                    pauseOnScroll: 1,
                    autohide: 0,
                }
            }
        },

        methods: {
            ready (event) {
                this.player = event.target
                this.$emit('ready')
            },

            play () {
                if(!this.player) {
                    console.error("'the player isn't ready yet")
                    return;
                }

                this.player.playVideo()
            },

            pause () {
                if(!this.player) {
                    console.error("'the player isn't ready yet")
                    return;
                }

                this.player.pauseVideo()
            }
        },

        created() {
            if (this.autoplay) {
                this.playerVars.autoplay = 1
            }

            if ('loop' in this.playerVars && !('playlist' in this.playerVars)) {
                this.playerVars.playlist = this.videoId
            }
        }
    }
</script>
