<template>
    <section :class="{'vitrine-carousel' : true, 'loading': loading}">
        <glide
            ref="vitrineSlider"
            :settings="computedSettings"
            delay-initialization
            @mountBefore="initializeIndex"
            @move="enableAutoplay"
            @runBefore="pauseVideo"
            @buildAfter="playVideo"
            @runAfter="playVideo"
            @swipeStart="pauseVideo"
            @swipeEnd="playVideo">
            <glide-track class="vitrine-carousel__items">
                <glide-slide
                    v-for="(item, index) in items"
                    :key="'vitrineContainerSlick-' + index"
                    :class="itemClass(item)">

                    <vitrine-video
                        v-if="isVideo(item)"
                        :ref="'VitrineItem-' + index"
                        :item="item"
                        :autoplay="index === 0"
                        :playerVars="playerVars"
                        @ready="playVideo"
                        @playing="disableAutoplay"
                        @ended="enableAutoplay"
                        @paused="enableAutoplay" />

                    <vitrine-image
                        v-else
                        :ref="'VitrineItem-' + index"
                        :item="item" />
                </glide-slide>
            </glide-track>

            <div
                v-if="showArrows && items.length > 1"
                class="vitrine-carousel__arrows glide__arrows"
                data-glide-el="controls">
                <button
                    v-show="showPrevArrow"
                    class="glide__arrow glide__arrow--left vitrine-carousel__arrow vitrine-carousel__arrow--left"
                    data-glide-dir="<">
                    <i class="fas fa-chevron-left fa-fw" aria-hidden="true"></i>
                </button>

                <button
                    v-show="showNextArrow"
                    class="glide__arrow glide__arrow--right vitrine-carousel__arrow vitrine-carousel__arrow--right"
                    data-glide-dir=">">
                    <i class="fas fa-chevron-right fa-fw" aria-hidden="true"></i>
                </button>
            </div>

            <div
                v-if="showBullets && items.length > 1"
                class="glide__bullets"
                data-glide-el="controls[nav]">
                <button
                    v-for="(item, index) in items"
                    :key="'vitrineBullet-' + index"
                    class="glide__bullet"
                    :data-glide-dir="'=' + index"></button>
            </div>
        </glide>

        <span class="loader" v-if="loading">
            <i class="fas fa-spinner fa-spin fa-fw" aria-hidden="true"></i>
        </span>
    </section>
</template>

<script>
    import Vue from 'vue'
    import VueGlide from '@glidejs/vue-glide/src'
    import VitrineImage from './Image'
    import VitrineVideo from './Video'

    Vue.use(VueGlide)

    export default {
        name: 'VitrineComponent',

        props: {
            loading: {
                type: Boolean,
                default: false
            },
            showArrows: {
                type: Boolean,
                default: true
            },
            showBullets: {
                type: Boolean,
                default: false
            },
            settings: {
                type: Object,
                default() {
                    return {}
                },
            },
            playerVars: {
                type: Object,
                default: () => {
                    return {}
                },
            },

            items: {
                type: Array,
                default() {
                    return []
                },
            },
        },

        components: {
            VitrineVideo,
            VitrineImage
        },

        data() {
            return {
                lastIndex: null,

                defaultSettings: {
                    gap: 0,
                    perTouch: 1,
                    autoplay: 6000,
                    rewind: true,
                }
            }
        },

        computed: {
            showNavigation() {
                return this.items.length > 1
            },

            showPrevArrow() {
                const itemsSize = this.items.length
                let lastIndex = 1

                if(
                    this.$refs.vitrineSlider &&
                    'glide' in this.$refs.vitrineSlider &&
                    'index' in this.$refs.vitrineSlider.glide
                ) {
                    lastIndex = this.$refs.vitrineSlider.glide.index
                }

                return itemsSize > 1 && lastIndex > 0
            },

            showNextArrow() {
                const itemsSize = this.items.length
                let lastIndex = 1

                if(
                    this.$refs.vitrineSlider &&
                    'glide' in this.$refs.vitrineSlider &&
                    'index' in this.$refs.vitrineSlider.glide
                ) {
                    lastIndex = this.$refs.vitrineSlider.glide.index + 1
                }

                return itemsSize > 1 && lastIndex < itemsSize
            },

            computedSettings() {
                return Object.assign({}, this.defaultSettings, this.settings)
            }
        },

        methods: {
            isVideo(item) {
                return 'youtube_url' in item && item.youtube_url !== '' && item.youtube_url !== null
            },

            itemClass(item) {
                const itemClass = [
                    'item-container'
                ]

                if (this.isVideo(item)) {
                    itemClass.push('container--video')
                }
                else {
                    itemClass.push('container--image')
                }

                if ('imagem_mobile' in item && item.imagem_mobile !== '' && item.imagem_mobile !== null) {
                    itemClass.push('container--image__mobile')
                }

                return itemClass
            },

            initializeIndex() {
                this.lastIndex = this.$refs.vitrineSlider.glide.index
            },

            playVideo() {
                const itemIndex = this.$refs.vitrineSlider.glide.index

                if(this.lastIndex !== null && this.lastIndex == itemIndex) {
                    return
                }

                const item = this.$refs['VitrineItem-' + itemIndex][0]
                this.lastIndex = itemIndex

                if(item && item.type === 'video') {
                    item.play()
                }
            },

            pauseVideo() {
                const itemIndex = this.$refs.vitrineSlider.glide.index

                if(this.lastIndex !== null && this.lastIndex == itemIndex) {
                    return
                }

                const item = this.$refs['VitrineItem-' + itemIndex][0]
                this.lastIndex = itemIndex

                if(item && item.type === 'video') {
                    item.pause()
                }
            },

            enableAutoplay() {
                this.$refs.vitrineSlider.glide.play()
            },

            disableAutoplay() {
                this.$refs.vitrineSlider.glide.pause()
            },
        },

        watch: {
            items(newValue) {
                if(newValue.length > 0) {
                    // inicializa o plugin de vitrine apenas quando
                    // os dados forem resolvidos e renderizados
                    this.$nextTick(() => {
                        this.$refs.vitrineSlider.init();
                    })
                }
            }
        },
    }
</script>
