/* Arrows */
#{$vitrine-id} {
    &__arrow {
        &--left,
        &--right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            display: block;
            line-height: 0;
            cursor: pointer;
            background-color: rgba(black, 0.6);
            color: rgba($white, 0.8);
            padding: 1rem 0.75rem;
            border: none;
            outline: none;
            opacity: 0.75;
            @include transition($transition-fade);
            @include font-size(25px);

            @include hover-focus {
                outline: none;
                opacity: 1;
                color: $white;
            }
        }

        &.slick-disabled {
            opacity: 0.25;
        }

        &--left {
            left: 0;
            padding-right: 1rem;
        }

        &--right {
            right: 0;
            padding-left: 1rem;
        }
    }
}
