#{$vitrine-id} {
    position: relative;
    padding: 0;
    line-height: 0; // removes unecessary element height;
    z-index: 0;
    background: $vitrine-background;
    max-height: $vitrine-height;

    &.loading {
        height: 363px;

        @include media-breakpoint-between(lg, lg) {
            height: 483px;
        }

        @include media-breakpoint-up(xl) {
            height: $vitrine-height;
        }

        #{$vitrine-id} {
            &__items,
            &__arrows {
                display: none;
            }
        }

        .loader {
            content: '';
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            color: $vitrine-loader-color;
        }
    }

    .item {
        display: block;
        line-height: 0; // removes unecessary element height;
    }

    .#{$glide-class} {
        $se: $glide-element-separator;
        $sm: $glide-modifier-separator;

        &#{$se}slide {
            position: relative;
            z-index: 1;
            overflow: hidden;
            cursor: grab;

            &--active {
                z-index: 999;
            }

            &.item-container {
                // hack para ajustar tamanho do vídeo
                max-height: $vitrine-height;
                overflow: hidden;
            }
        }

        &#{$se}slides {
            z-index: 1;
            margin-bottom: 0;
            // display: block;
        }
    }
}
