#{$vitrine-id} {
    $se: $glide-element-separator;
    $sm: $glide-modifier-separator;

    .#{$glide-class}#{$se}slide {

        &.item-container:not(.container--image__mobile) {
            height: $vitrine-height-xs;

            @include media-breakpoint-up(xl) {
                height: $vitrine-height;
            }

            @include media-breakpoint-between(lg, lg) {
                height: $vitrine-height-lg;
            }
        }

        &.container--image__mobile {
            height: auto !important;

            .item-image {
                picture {
                    .image {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .item-image {
            height: 100%;
            margin: 0 auto;

            picture {
                display: block;
                margin-bottom: 0;
                height: 100%;

                .image {
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
