//
//= Vitrine variables
//

$vitrine-background: #f2f2f2 !default;
$vitrine-width: 1920px !default;
$vitrine-height: 700px !default;
$vitrine-mobile-height: 525px !default;
$vitrine-id: '.vitrine-carousel' !default;
$vitrine-loader-color: #aaa;
//$glide-class: 'slick' !default;
//$glide-element-separator: '-' !default;
//$glide-modifier-separator: '--' !default;

$vitrine-height-xl: $vitrine-height !default;
$vitrine-height-lg: 483px !default;
$vitrine-height-xs: 363px !default;
