/* Arrows */
.nav-prev,
.nav-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    display: block;
    line-height: 0px;
    cursor: pointer;
    background-color: rgba($black-60, .61);
    color: rgba($white, .8);
    padding: 0 .5rem;
    border: none;
    outline: none;
    opacity: 0.75;
    @include transition($transition-fade);
    @include font-size(25px);

    @include hover-focus {
        outline: none;
        opacity: 1;
        color: $white;
    }

    &.slick-disabled {
        opacity: 0.25;
    }

    &:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        content: " ";
        width: 1.5em;
        padding: 9px 5px;
        @include fa-icon();
    }
}

.nav-prev {
    left: 0;

    &:before {
        content: $fa-var-chevron-left;
    }
}

.nav-next {
    right: 0;

    &:before {
        content: $fa-var-chevron-right;
    }
}
