/* Dots */

$dot-size: 20px;

.slick-dots {
    position: relative;
    bottom: 0;
    list-style: none;
    display: block;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: $dot-size;
        width: $dot-size;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            @include fa-icon();
            border: 0;
            background: transparent;
            display: block;
            height: $dot-size;
            width: $dot-size;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            text-shadow: 1px 1px rgba(black, .3);
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: .9;
                    content: $fa-var-dot-circle-o;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $fa-var-circle-thin;
                width: $dot-size;
                height: $dot-size;
                @include font-size($dot-size);
                line-height: $dot-size;
                text-align: center;
                color: $white;
                opacity: .5;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $white;
            opacity: 1;
            content: $fa-var-dot-circle-o;
        }
    }
}
