.vitrine-carousel {
    $width: 1920px;
    $height: 720px;

    position: relative;
    padding: 0;
    line-height: 0;  // removes unecessary element height;
    z-index: 0;

    &--items {
        z-index: 1;

        // default style when the slick component was not loaded
        > .item-container {
            // display only the first element (hides the others)
            &:not(:first-child) {
                display: none;
            }
        }
    }

    .item {
        display: block;
        line-height: 0; // removes unecessary element height;
    }

    .item-image {
        picture {
            display: block;

            .image {
                margin: 0 auto;
                width: 100%;
                height: auto;
            }
        }
    }

    .slick-slide {
        position: relative;
        z-index: 1;

        &.slick-active {
            z-index: 999;
        }

        .item-container {
            // hack para ajustar tamanho do vídeo
            max-height: $height;
            overflow: hidden;

            &.container--video {
                background: #000;

                .inline-YTPlayer {
                    max-width: $width;
                    margin: 0 auto;
                }
            }
        }

        .item-image {
            picture {
                display: block;

                @include media-breakpoint-up(xl) {
                    &:before {
                        padding-top: $height  !important    ;
                    }
                }

                @include media-breakpoint-between(lg, lg) {
                    &:before {
                        padding-top: 483px !important;
                    }
                }

                @include media-breakpoint-up(md) {
                    @include aspect-ratio-fixed(363px, '.image');

                    .image {
                        width: auto;
                        height: 100%;
                    }
                }
            }

            &--mobile {
                // makes the image fluid
                @include media-breakpoint-down(sm) {
                    picture {
                        .image {
                            margin: 0 auto;
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }

        .item-video {
            padding-bottom: percentage(9 / 16);

            // Fix
            // max-width: $width;
            margin: 0 auto;
        }
        .playerBox {
            width: 100% !important;
            height: 100% !important;
            margin: 0 !important;
        }
    }

    .slick-list {
        z-index: 1;
    }
}
